<h1><%= @gossip.title %></h1>
<p><%= @gossip.content %></p>
<p><%= @gossip.user %></p>
<p><%= @gossip.city %></p>


<p>
  <a href="<%= basic_pages_home_path %>" class="btn btn-primary">Revenir aux gossips</a>
</p>
