<h1>Titre : <%= @gossip.title %></h1>
<p>Contenu : <%= @gossip.content %></p>
<p>Auteur : <%= @gossip.user.first_name %> <%= @gossip.user.last_name%></p>
<p>Ville de l'auteur : <%= @gossip.user.city.name %></p>

<a class="btn btn-outline-secondary btn-sm" role="button" href="<%=city_path(@gossip.user.city_id)%>">Voir les gossips de <%=@gossip.user.city.name%></a>


<p>
  <%= link_to "Voir l'auteur", {controller: "user", action: "show", id: @gossip.user.id}, class: "btn btn-primary mt-3" %>
</p>

<p>
  <a href="<%= edit_gossip_path %>" class="btn btn-primary">Modifier le gossip</a>
</p>

<p>
<%= link_to "Supprimer le gossip", gossip_path(@gossip), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure ?"
} %>
</p>

<p>
  <a href="<%= basic_pages_home_path %>" class="btn btn-primary">Revenir aux gossips</a>
</p>
